.spacify { animation: spacing 2s linear forwards; }
@keyframes spacing {
    from { background-color: white; }
    to { background-color: transparent; }
}

.greeting-dialog{
    position: relative;
    z-index: 20;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.greeting-dialog{
    width: 80%;
    height: 80%;
}

.prompting-message{
    color: lightcyan;
    font-weight: bolder;
    text-shadow: 0 0 0.75rem cyan;
    position: relative;
    z-index: 10;
    padding: 2rem;
}

.skip-intro{
    color: lightcyan;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    z-index: 100;
    transition: opacity linear 5s;
    opacity: 0;
    pointer-events: none;
    text-shadow: 0 0 0.75rem cyan;
}

.hud-scifi-panel{
    position: absolute;
    filter: hue-rotate(350deg);
    transition: transform 1s var(--ease-out-cubic), opacity 1s var(--ease-out-cubic);
    opacity: 0;
    transform: translateY(100%);
}