.effect-backdrop{ 
    height: 100%; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    overflow: hidden;
}

.big-uobj, #stages{
    height: 100%;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    overflow: visible;
    top: 0;
    left: 0;
    transition: width 1s ease-out, height 1s ease-out, top 1s ease-out, left 1s ease-out;
}

.effect-backdrop > div{ position: absolute; }

.galaxy, .big-bang{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.galaxy > #l-1, .galaxy > #l-2, .galaxy > #l-3{ border-radius: 9999px; position: absolute; }
.big-bang > #l-1, .big-bang > #l-2, .big-bang > #l-3, .big-bang > #l-4, .big-bang > #l-5, .big-bang > #l-6{ border-radius: 9999px; position: absolute; }
.galaxy.active > #l-1, .galaxy.active > #l-2, .galaxy.active > #l-3{
    animation-name: galaxy;
    animation-duration: 2s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.big-bang.active > #l-1, .big-bang.active > #l-2, .big-bang.active > #l-3, .big-bang.active > #l-4, .big-bang.active > #l-5, .big-bang.active > #l-6{ 
    animation-name: big-bang;
    animation-duration: 5s; 
    animation-timing-function: var(--elastic);
    animation-fill-mode: forwards;
}

.galaxy > #l-2{ animation-delay: 0.5s; }
.galaxy > #l-3{ animation-delay: 1s; }
.big-bang.active > #l-1{ animation-delay: 0.5s; }
.big-bang.active > #l-2{ animation-delay: 1s; }
.big-bang.active > #l-3{ animation-delay: 1.5s; }
.big-bang.active > #l-4{ animation-delay: 2s; }
.big-bang.active > #l-5{ animation-delay: 2.5s; }
.big-bang.active > #l-6{ animation-delay: 3s; }

@keyframes galaxy {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }
    70% {
        opacity: 0.1;
        width: 80%;
        height: 80%;
    }
    85% {
        opacity: 0.1;
        width: 95%;
        height: 95%;
    }
    100% {
        opacity: 0.1;
        width: 100%;
        height: 100%;
    }
}

@keyframes big-bang {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }
    50% {
        width: 100%;
        height: 100%;
    }
    100% {
        opacity: 0.5;
    }
}

.galaxy.blueviolet > div{ background-color: blueviolet; }
.galaxy.navy > div{ background-color: navy; }
.galaxy.orangered > div{ background-color: orangered; }
.galaxy.gold > div{ background-color: gold; }
.big-bang > div{ background-color: white; }

#g-1{ width: 50vmin; height: 50vmin; top: -10%; left: 1%;}
#g-2{ width: 70vmin; height: 70vmin; bottom: -25%; right: -20%; }
#g-3{ width: 30vmin; height: 30vmin; top: -15%; right: -5%; }
#g-4{ width: 100vmin; height: 100vmin; bottom: -50%; left: -15%; }
#g-5{ height: 20vmin; width: 20vmin; bottom: 20%; left: 35%; }
#g-6{ height: 15vmin; width: 15vmin; top: 3%; right: 10%; }
#g-7{ height: 40vmin; width: 40vmin; top: 20%; width: 40vmin; }
#g-8{ height: 60vmin; width: 60vmin; top: 30%; width: 60vmin; }

#b-b{ height: 200vh; width: 200vw; top: -50%; left: -50%; }

.star{
    position: absolute;
    border-radius: 9999px;
    opacity: 0;
    transition: opacity linear 2s;
}

.star .atmosphere{
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    opacity: 0;
    transition: opacity linear 2s;
}

.star.lightblue{ background-color: #add8e680; }
.star.blue{ background-color: #0000ff80; }
.star.orangered{ background-color: #ff450080; }
.star.gold{ background-color: #ffd70080 }
.star.white{ background-color: #ffffff80; }

.star.shine, .star .atmosphere.shine{
    opacity: 0.5;
}

.star-cluster { 
    width: 100%; 
    height: 100%; 
    transition: width 1s ease-out, height 1s ease-out;
}

.stage{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: white;
    box-shadow: 0 0 1rem white;
    border-radius: 9999px;
    pointer-events: all;
    z-index: 5;
}