@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");

h1, h2, li, form{ user-select: none; }

:root{
    --ease-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
    --reg-btn-bg-color: rgb(240, 240, 240, 0.3);
    --reg-btn-txt-color: rgb(50,50,50);
}

html, body, #root{ overflow-y: auto; }

.h-reg{
    font-family: 'League Spartan', sans-serif;
    font-family: 'Montserrat', sans-serif;
    transition: transform 1s var(--ease-out-cubic), opacity 1s var(--ease-out-cubic);
    color: white;
    text-align: center;
    width: 80%;
    padding: 1rem;
    text-shadow: 0 0 0.75rem white;
    transform: translateY(-25vh);
}

.h-reg.animate, #registration-iframe.animate{
    opacity: 1;
    transform: translateY(0);
}

#registration-iframe{
    background-color: white;
    width: 80%; 
    height: 80%;
    border-radius: 100px;
    border: 10px solid black;
    transition: transform 1s var(--ease-out-cubic), opacity 1s var(--ease-out-cubic);
    transform: translateY(100vh);
}