:root{
    --icon-shadow: radial-gradient(gray 0%, transparent 60%);
}

img{ user-select: none; }

.setup{
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    padding: 2vw;
}
.theme-changer{
    width: 35px;
    height: 35px;
}
.theme-changer img{
    height: 100% !important;
    background-image: var(--icon-shadow);
}