:root{
    --theme-changer-icon: url("../../../public/imgs/backend-images/light-mode.png");
    --icon-shadow: radial-gradient(gray 0%, transparent 60%);
}

.setup{
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    padding: 2vw;
}
.theme-changer{
    width: 35px;
    height: 35px;
    background-image: var(--theme-changer-icon);
}
.theme-changer img{
    height: 100% !important;
    background-image: var(--icon-shadow);
}