:root{
    /* account-settings.jsx */
    --fb-sa-s-id1: auto;
}

/* account-settings.jsx */

.setting-submitting-form .submit-btn{
    background-color: lightgray;
    border-radius: 5px;
    width: 150px;
    padding: 1vh 0;
}

.setting-submitting-form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.forget-password{
    color: darkgray;
    text-decoration: underline;
    cursor: pointer
}

.forget-password:hover{color: gray;}