@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&display=swap");

@tailwind components;
@tailwind utilities;

@layer components{

    html, body{
        @apply bg-[#F0F0F0] dark:bg-[#0F0F0F];
        overflow-x: hidden;
    }

    #logo{
        @apply hidden lg:flex;
        position: absolute;
        left: 0;
        top: 0;
        transition: transform 1s ease-in, top 1s ease-in;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        height: 100%;
        z-index: 2;
    }

    #navbar{
        @apply text-black bg-[#EAEAEA] dark:text-white dark:bg-[#050505];
        position: absolute;
        top: 0;
        margin: 0;
        height: 3.5em;
        font-family: sans-serif;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        z-index: 1;
        align-items: center;
    }

    #navbar ul{
        @apply bg-[#EAEAEA] dark:bg-[#050505] flex mx-4 p-0 top-0 flex-row h-full gap-x-4 items-center;
    }

    #navbar #menu{
        @apply hidden absolute m-0 p-4 top-full flex-col h-max gap-y-4 opacity-0 sm:flex sm:relative opacity-100 sm:mx-4 sm:p-0 sm:top-0 sm:flex-row sm:h-full sm:gap-x-4;
        list-style: none;
        align-items: center;
        transition: opacity 0.5s ease-in-out
    }

    #logo-text{
        @apply font-russo text-[#2C2C2C] dark:text-[#D3D3D3];
        position: relative;
        font-size: 200px;
        letter-spacing: 0.2em;
        overflow: hidden;
        width: 0;
        transition: width 2s ease-out;
    }

    #logo .subtitle{
        @apply font-spartan text-black dark:text-white;
        font-weight: 100; 
        transform: scale(0); 
        font-size: 5em; 
        letter-spacing: 0.1em; 
        margin: 0; 
        transition: transform 1s var(--elastic)
    }

    #menu-btn{
        @apply flex sm:hidden;
        column-gap: 0.5em;
        margin-left: 1em;
        align-items: center;
        flex-direction: row;
    }

    #search-bar input[type="text"]{
        @apply border-solid border-[0.1rem] border-[#CDCDCD] bg-[#EBEBEB] dark:border-[#323232] dark:bg-[#141414] dark:text-white;
        padding: 0.5em;
        border-radius: 2em;
    }

    #navbar ul li{
        transition: color 0.2s ease-in-out;
    }
    #navbar ul li a:hover{
        @apply text-[#A1A1A1] dark:text-[#A3A3A3]
    }

    #logo .line{
        @apply light-theme-logo-line dark:dark-theme-logo-line;
        height: 2px; 
        width: 100%; 
        border-radius: 5px; 
        margin: 15px;
    }

    #logo-text .fade{
        @apply light-theme-logo-fade dark:dark-theme-logo-fade;
        position: absolute; 
        right: 0;
        top: 0;
        height: 100%;
        width: 1em;
    }

    #logo-text .fade.modded{
        @apply light-theme-logo-fade-modded dark:dark-theme-logo-fade-modded;
    }
    
    #menu-btn{
        @apply text-black dark:text-white
    }

    #banner .caption{
        @apply text-[2em] text-black dark:text-white sm:text-[3em] md:text-[4em] lg:text-[5em];
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: transform 2s var(--elastic);
        transform: scale(0)
    }

    #about-me .content article{
        @apply text-black bg-white dark:bg-black max-h-[50vh] dark:text-white sm:max-h-[80vh];
        padding: 1em;
        border-radius: 1em;
        width: 80%;
        overflow-y: auto;
        box-shadow: 0 0 1em;
    }

    #about-me .content article h1{ @apply my-[0.5em] text-[1.5em] sm:text-[2em]; }
    #about-me .content article p{ @apply text-sm sm:text-base; }

    #about-me .content article .fade{
        @apply light-theme-content-article-fade dark:dark-theme-content-article-fade;
        position: sticky;
        bottom: -1em;
        left: 0;
        width: 100%;
        height: 5em;
    }

    #about-me .content{
        @apply xs-md:responsive-content-sm md:responsive-content-md;
        padding: 2em 1em;
        margin: 1em 0;
        row-gap: 5em;
    }    

    #bio-card{
        @apply rounded-lg shadow-sm max-w-3xl p-0 max-w-[80%] max-h-full overflow-hidden bg-white dark:bg-neutral-300;
        box-shadow: 0.5em 0.5em 2em gray;
    }

    .info-list{
        @apply flex flex-col space-y-1
    }

    .info-list dt{
        @apply font-medium;
    }

    .info-list dd{
        @apply text-gray-500
    }

    div.monitor-stand{
        @apply h-4 bg-black dark:bg-neutral-400 rounded-lg opacity-0;
        transition: transform 0.5s var(--elastic), opacity 0.5s ease-in-out;
        transform: translateY(-20em);
    }

    img.learning-style-cartoon-character{
        @apply absolute bottom-[-10%] md:bottom-0 lg:h-[150px] lg:w-[150px] md:h-[125px] md:w-[125px] sm:h-[150px] sm:w-[150px] nmob:h-[125px] nmob:w-[125px] w-[100px] h-[100px] opacity-0;
        transition: transform 0.5s 0.8s ease-in-out, opacity 0.5s 0.8s ease-in-out;
        transform: translateY(-10%);
    }


}

@layer utilities{
    .dark-theme-logo-line{
        background-image: linear-gradient(to right, transparent, white, transparent);
    }
    .dark-theme-logo-fade{
        background-image: linear-gradient(to right, transparent, rgb(15, 15, 15))
    }
    .dark-theme-logo-fade-modded{
        background-image: linear-gradient(to right, transparent, rgb(5, 5, 5))
    }
    .dark-theme-content-article-fade{
        background-image: linear-gradient(to bottom, transparent, black);
    }
    .light-theme-logo-line{
        background-image: linear-gradient(to right, transparent, black, transparent)
    }
    .light-theme-logo-fade{
        background-image: linear-gradient(to right, transparent, rgb(240, 240, 240))
    }
    .light-theme-logo-fade-modded{
        background-image: linear-gradient(to right, transparent, rgb(230, 230, 230))
    }
    .light-theme-content-article-fade{
        background-image: linear-gradient(to bottom, transparent, white);
    }
    .responsive-content-md{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, 50vh);
        justify-items: center;
    }
    .responsive-content-sm{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.outside-link{ color: red }
.in-page-navigation{ color: rgb(0, 183, 255); }

:root{
    --icon-shadow: radial-gradient(gray 0%, transparent 60%);
}

body{ user-select: none; }

.setup{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    padding: 2vw;
}

html{
    scroll-behavior: smooth;
}

#banner{
    height: 100vh;
}
#banner img{
    width: 100%;
}

#search-bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 1em;
    column-gap: 0.5em
}
#search-bar button[type="submit"]{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    padding: 0;
}
#search-bar button[type="submit"] img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0; 
    left: 0;
}

#dice{
    display: inline-block;
}

.shake{
    animation: shaking 1s ease-in-out alternate infinite
}

#menu-btn img{
    cursor: pointer;
    transition: rotate 0.5s ease-in-out;
}

#menu-btn img:hover{
    opacity: 0.8;
}

#about-me .content article{
    transform: translateY(-10%); 
    opacity: 0; 
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out
}

.spinning-dice{
    position: absolute;
    z-index: 10;
}

.threeD-screen{
    perspective: 1000px;
    perspective-origin: 50% 50%
}

.spinning-dice:nth-of-type(1){ animation: circulate1 5s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(2){ animation: circulate1 5s 0.3s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(3){ animation: circulate1 5s 0.5s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(4){ animation: circulate1 5s 0.7s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(5){ animation: circulate1 5s 0.85s linear infinite, spinning 1s linear infinite;}

.spinning-dice:nth-of-type(6){ animation: circulate2 5s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(7){ animation: circulate2 5s 0.3s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(8){ animation: circulate2 5s 0.5s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(9){ animation: circulate2 5s 0.7s linear infinite, spinning 1s linear infinite;}
.spinning-dice:nth-of-type(10){ animation: circulate2 5s 0.85s linear infinite, spinning 1s linear infinite;}

.effect-box{
    width: 80%;
    height: 100%;
    position: absolute;
}

@keyframes circulate1{
    0%{ top: -15%; right: -15%; }
    25%{ top: 100%; right: -15%; }
    50%{ top: 100%; right: 100%; }
    75%{ top: -15%; right: 100%; }
    100%{ top: -15%; right: -15%; }
}

@keyframes circulate2 {
    0%{ top: 100%; right: 100%; }
    25%{ top: -15%; right: 100%; }
    50%{ top: -15%; right: -15%; }
    75%{ top: 100%; right: -15%; }
    100%{ top: 100%; right: 100%; }
}

@keyframes spinning{
    from{ rotate: 0deg; }
    to{ rotate: 360deg; }
}

@keyframes shaking {
    from{ rotate: 10deg; }
    to{ rotate: -10deg; }
}